body{
    margin: 10px;
    border: 5px solid red;
    border-radius: 3%;
    padding: 0;
    max-width: 222px;
}
h1{
    color: white;
    background-color: red;
    padding: 20px;
    font-size: 10px;
    display: flex;
    justify-content: right;
    margin-top: 0;
    margin-bottom: 2px;
}

#sketchPad{
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
    gap: 1px;

}

div{
    background-color: antiquewhite;
    height: 10px;
    width: 10px;
}